body {
  font-family: Arial;
  font-weight: 400;
}
body h2 {
  color: #445161;
  font-size: 30px;
  line-height: 36px;
}
.header {
  height: 323px;
  background-color: #445161;
  padding: 30px 50px 40px 50px;
  display: flex;
  justify-content: space-evenly;
}
.hello h1 {
  font-size: 60px;
  line-height: 1.2;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  margin-bottom: 20px;
}
.hello ul {
  font-size: 20px;
  line-height: 36px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.hello li {
  padding-left: 30px;
  background: url(/img/icon.png) left no-repeat;
}

.block1 {
  height: 290px;
  display: flex;
  margin-left: 50px;
}
.block1 p {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  padding-top: 20px;
}
.scheme {
  display: flex;
  justify-content: center;
  align-items: center;
}
.caption {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.block2 {
  height: 510px;
  background-color: #f5f5f5;
}
.block2 h2 {
  text-align: center;
  padding: 50px;
}
.block2 h3 {
  font-size: 24px;
  line-height: 30px;
  color: #445161;
}
.block2 p {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  width: 350px;
}
.descriptions {
  min-height: 350px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 40px;
}
.description {
  display: flex;
}
.rectangle {
  background-color: #445161;
  width: 200px;
  height: 150px;
}
.indent {
  display: flex;
  flex-direction: column;
  padding: 0 30px 0 30px;
}
.block3 {
  display: flex;
  justify-content: center;
}
.column {
  width: 300px;
  height: 500px;
  background-color: #445161;
  margin: 0 30px 0 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.last h2 {
  text-align: center;
  padding: 30px;
}
.row1 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row2 {
  height: 71px;
  border: 2px solid #445162;
  font-size: 40px;
  line-height: 30px;
  background-color: #ffffff;
  color: #445162;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row3 {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  min-height: 300px;
  padding: 15px;
}
.row4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  width: 260px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.footer {
  margin-top: 50px;
  height: 70px;
  background-color: #f5f5f5;

  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #445162;
  display: flex;
  justify-content: center;
  align-items: center;
}
